/* Exercicio 1 */
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


header{
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 0px 10px;
}
button{
    padding: 0px 10px;
}

/* Exercicio 2 */

main{
    display: flex;
    background-color: tomato;
    flex-grow: 1;
}
footer{
    background-color: violet;
    height: 40px;
}

/* Exercicio 3 */

#menu1{
    background-color: red;
    width: 300px;
}
section{
    background-color: hotpink;
    flex-grow: 1;
}
#menu2{
    background-color: greenyellow;
    width: 200px;

}